body {
    background-image: linear-gradient(white, #EDF0F5, #bac3cb);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Freight Sans Bold, Helvetica, Arial, sans-serif; 
    padding: 0;
    margin: 0;
}

/* Header */

header {
    background-color: #3B5998;
    position: relative;
    height: 100px;
    color: white;
    font-size: 12px;
}

.logo {
    content: url(images/logo.png);
    position: absolute;
    height: 100px;
    left: 5%;
}

.email-phone {
    position: absolute;
    left: 70%;
}

input[name="user"], input[name="psw"] {
    width: 145px;
    background-color: white;
    color: #1c1e21;
}

.password {
    position: absolute;
    left: 80%;
}

.forgot-account {
    color: #9cb4d8;
    cursor: pointer;
}

.forgot-account:hover {
    text-decoration: underline;
}

.login-button {
    position: absolute;
    left: 90%;
    top: 36%;
}

input[value="Log in"] {
    background-color: #2851A3;
    color: white;
    border: 1px #1D3C78 solid;
    font-weight: 700;
    cursor: pointer;
    width: 55px;
    height: 24px;
}

input[value="Log in"]:hover {
    background-color: #22468d;
}    

/* Create an account */
.create-account {
    display: flex;
    flex-direction: row;
    padding: 20px 50px 50px 120px;
}

.text-map {
    width: 450px;
    font-weight: 800;
    color: #1D3C78;
}

.map {
    content: url(images/map.png);
    width: 450px;
}

.create-account-input {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    color: #333333;
    font-size: 18px;
}

.account-title {
    font-size: 36px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

input[name="fullname"] {
    width: 175px;
    font-size: 18px;
    padding: 8px 10px;
    border: 1px #bdc7d8 solid;
    border-radius: 5px;
    background-color: white;
    margin: 0px 8px 10px 0px;
    outline: none;
}

input[name="userid"], input[name="newpsw"] {
    width: 380px;
    font-size: 18px;
    padding: 8px 10px;
    border: 1px #bdc7d8 solid;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    outline: none;
}

input[placeholder="First name"], input[placeholder="Surname"], input[placeholder="Mobile number or email address"], input[placeholder="New password"] {
    color: #999999;
}

input[name="fullname"]:focus, [name="userid"]:focus, input[name="newpsw"]:focus {
    color: #333333;
} 

input[name="fullname"]:valid, [name="userid"]:valid, input[name="newpsw"]:valid {
    color: #333333;
} 

.name {
    display: flex;
    flex-direction: row;
}

.birthday {
    margin-top: 10px;
    padding: 0;
}

